<div class="row justify-content-center bg-light mt-3">
    <div class="col-md-6 mt-4 mb-3" id="background">
        <div class="card mt-3 mb-3" id="card">
              <h2 class=" card-title text-center text-primary p-3">SIGN IN</h2>
              <div class="card-body">
               <div class="row">
                 <div class="col-md-6">
                  <img src="../../../../assets/laptop.jpg" alt="Laptop" class=" img-fluid img-thumbnail" height="3250" width="300">
                 </div>
                 <div class="col-md-6">
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="p-3">
                    <div class="form-group">
                      <label for="Emailid">Email address</label>
                      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  formControlName="email" placeholder="Enter Email" class="form-control"> 
                      <span *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">Enter the Email ID </span>
                      <span *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('email')">Enter Valid Email Address</span>
                    </div>
                  
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password"  formControlName="userPassword"
                      class="form-control" 
                      placeholder="Enter Password">
                      <span *ngIf="loginForm.get('userPassword').touched && loginForm.get('userPassword').hasError('required')">Enter Your Password </span>
                      <span *ngIf="loginForm.get('userPassword').touched && loginForm.get('userPassword').hasError('minlength')">Minimum 8 Characters </span>
                    </div>
                    <button type="submit" [disabled]=!loginForm.valid
                   class="btn btn-primary btn-block">Sign In</button>
                   <div class="message mt-3 text-success" *ngIf="signedIn">Logged In Successfully</div>
                   <div class="invalid mt-3 text-danger" *ngIf="Invalid">Please Enter Valid Credentials</div>
                  </form>
                 </div>
               </div>
              </div>
        </div>
    </div>
  </div>
