<div class="row justify-content-center mt-5 bg-light">
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img  src="../../../assets/orderlogo.jpg" class="img-thumbnail ml-50" alt="SuccessImage" height="150" width="150">
            </div>
        </div>
       <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <h2 class="text-success">YOUR ORDER HAS BEEN PLACED SUCCSSFULLY</h2><br>
            <img src="../../../assets/thanks.jpg" class="img-thumbnail" alt="Thank You" height="200" width="500">
            <br>
            <a class="nav-link mt-2" routerLink="/">Go to home</a>
        </div>
       </div>
    </div>
</div>
